<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.jactr.eclipse.runtime.launching.normal">
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_ATTR_USE_ARGFILE" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_SHOW_CODEDETAILS_IN_EXCEPTION_MESSAGES" value="true"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_CLASSPATH_ONLY_JAR" value="false"/>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="org.jactr.tutorial.unit4"/>
    <stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DConfigurationFile=org/jactr/tutorial/unit4/paired/short.xml"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.aliasesFor./org.jactr.tutorial.unit4/models/org/jactr/tutorial/unit4/paired/paired.jactr" value="paired"/>
    <intAttribute key="org.jactr.eclipse.runtime.launching.cr.ackTime" value="2000"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.cr.disconnect" value="false"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.debugCoreEnabled" value="false"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.debugCoreLogConfiguration" value="/jactr-log.xml"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.debugCoreLogger" value="org.jactr.slf4j.impl.log4j12"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.ideTrace" value="true"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.instruments" value=""/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.modelFiles" value="models/org/jactr/tutorial/unit4/paired/paired.jactr"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.onStart" value="org.jactr.tools.experiment.bootstrap.StartModelExperiments"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.onStop" value="org.jactr.tools.experiment.bootstrap.StopModelExperiments"/>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.commonreality.sensors.keyboard.DefaultKeyboardSensor">
        <mapEntry key="Actuator" value="org.commonreality.sensors.keyboard.DefaultActuator"/>
        <mapEntry key="DurationEquation" value="org.commonreality.sensors.keyboard.SerialDurationEquation"/>
    </mapAttribute>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.commonreality.sensors.swing.DefaultSwingSensor">
        <mapEntry key="DistanceToScreenCM" value="33"/>
        <mapEntry key="DotsPerCM" value="86.8"/>
        <mapEntry key="UseFixationTracker" value="true"/>
    </mapAttribute>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.async.sync.SynchronizationManager">
        <mapEntry key="SynchronizationDelayInMS" value="10000"/>
    </mapAttribute>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.grapher.core.GeneralProbe">
        <mapEntry key="ConfigFile" value="org/jactr/tutorial/unit4/paired/data/baselevel.xml"/>
    </mapAttribute>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.marker.tracer.MarkerTraceListener"/>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.tracer.listeners.BufferTracer"/>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.tracer.listeners.LogTracer"/>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.tracer.listeners.ProceduralModuleTracer"/>
    <mapAttribute key="org.jactr.eclipse.runtime.launching.parametersFor.org.jactr.tools.tracer.listeners.VisualModuleTracer"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.recordTrace" value="false"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.sensors" value="org.commonreality.sensors.keyboard.DefaultKeyboardSensor,org.commonreality.sensors.swing.DefaultSwingSensor"/>
    <stringAttribute key="org.jactr.eclipse.runtime.launching.tracers" value="org.jactr.tools.tracer.listeners.BufferTracer,org.jactr.tools.grapher.core.GeneralProbe,org.jactr.tools.tracer.listeners.LogTracer,org.jactr.tools.tracer.listeners.ProceduralModuleTracer,org.jactr.tools.tracer.listeners.VisualModuleTracer"/>
    <booleanAttribute key="org.jactr.eclipse.runtime.launching.useEmbed" value="false"/>
</launchConfiguration>
